<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="itumapdb" connectionString="Your Connection String" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>